body {background-color: dimgray}

h1 {
    color: gold;
}

.carousel img#photo1 {
	height: 300px;
    width: 600px;
}

.carousel img#photo2 {
	height: 300px;
    width: 600px;
}

.carousel img#photo3 {
	height: 300px;
    width: 600px;
}

.carousel-inner h3 {
    color: gold;
}

.carousel-caption {
    vertical-align: middle
}