<h2>Change user permisson</h2>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<form method="post" action="/users/changepermission">
	<div class="form-group">
		<label>Account Username</label>
		<input type="text" class="form-control" name="username" placeholder="username">
	</div>
	<div class="form-group">
		<label>Account permission</label><br>
		<div class="form-group">
			<label><input type="radio" name="permission" id="1" value="1" checked>1</label>
		</div>
		<div class="form-group">	
			<label><input type="radio" name="permission" id="2" value="2" checked>2</label>
		</div>
		<div class="form-group">
			<label><input type="radio" name="permission" id="3" value="3" checked>3</label>
		</div>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>



<h2>Check in check out</h2>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}

<form method="post" action="/users/checkin">
	<div class="form-group">
		<label>Account Username</label><br>
		<input type="text" class="form-control" name="username" placeholder="username"><br>
	<button type="submit" class="btn btn-default">Submit</button>
</form>


<h2>delete reservation</h2>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}

<form method="post" action="/users/deletereservation">
	<div class="form-group">
		<label>Account Username</label><br>
		<input type="text" class="form-control" name="username" placeholder="username"><br>
	<button type="submit" class="btn btn-default">Submit</button>
</form>


<h2>delete user</h2>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}

<form method="post" action="/users/deleteuser">
	<div class="form-group">
		<label>Account Username</label><br>
		<input type="text" class="form-control" name="username" placeholder="username"><br>
	<button type="submit" class="btn btn-default">Submit</button>
</form>


