
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <button type="button" 
                class="navbar-toggle collapsed" 
                data-toggle="collapse"
                data-target="#collapsemenu"
                aria-expanded="false">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
      <a href="palace.html" class="navbar-brand">
       Knight's Palace
      </a>
    </div>
    <div class="collapse navbar-collapse" id="collapsemenu">
      <ul class="nav navbar-nav">
      <li><a href="palace.handlebars">Home</a></li>
      <li><a href="gallery.handlebars">Gallery</a></li>
      <li><a href="services.handlebars">Services</a></li>
      <li><a href="events.handlebars">Events</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="login.handlebars"><span class="glyphicon glyphicon-log-in"></span> Login/Signup</a></li>
      </ul>
      </div>  
  </div>
</nav>     
     
<div class="content container">
  <div class="row" style="margin-bottom:100px;">
    <section class="col-xs-12">
    
    <div class="container col-xs-12" style="align:centered; margin-top:100px;">
        <h2>Rehearsal Dinners</h2>
        <p>
        <img src="../public/images/event1.jpg" id="" class="img-responsive" alt="Image" style="float:right; width:350px; height:200px;">
            Formal dinner or casual cocktail party, Knight's Palace is here for you to host a rehearsal dinner. Our world-renowned hospitality and convenient planning resources to coordinate every detail can be trusted, from the guest list and accommodations down to the menu. Choose any wine or desserts that suits your needs, we can arrange a high quality meal to please any guest.
        </p>
    </div>
    
    <div class="container col-xs-12" style="align:centered; margin-top:10px;">
        <h2>Ceremonies</h2>
        <p>
           <img src="../public/images/event2.jpg" id="" class="img-responsive" alt="Image" style="float:right; width:350px; height:200px;">
            From weddings or any other ceremonies you may hold, Knight's Palace is here to arrange it for you. We hot an amazing team that could help you organize everything down to every detail of planning. Let us make your dream wedding happen while we will make your easy. We will make your vision come true and just the way you dreamed of it so come and inquire now.
        </p>
    </div>
    
    <div class="container col-xs-12" style="align:centered; margin-top:10px; margin-bottom:100px">
        <h2>Honeymoons</h2>
        <p>
          <img src="../public/images/event3.jpg" id="" class="img-responsive" alt="Image" style="float:right; width:350px; height:200px;">
          Just married? Well we got what you need! Our hotel will let you explore happiness together. From exotic beaches, to amazing dinners together, and romantic nights. We will let you reach what you desire! We have amazing champagnes to offer! So make yourself comfortable with your loved one and we'll handle the rest and provide everything you'll ever need. UCF Alumnis get 10 percent off discount.
        </p>
    </div>
    
     </section>
  </div><!-- row -->   
</div><!-- content container -->

<footer class="footer">
    <div class="container">
        <p class="">&copy; 2016 Team21. | <a href="http://www.cs.ucf.edu/~turgut/COURSES/COP4331C_OOD_Fall16/COP4331C_OOD_Fall16.html">COP4331C POOS Class </a></p>
    </div>
</footer>  
    <script src="../public/js/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script src="js/bootstrap.min.js"></script>-->
    <script src="../public/js/script.js"></script>