<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>  


<div>
	<p id="reservation"></p>
</div>


<script type="text/javascript">
	function loadRes(){
		var element = getElementById('reservation');
		
		
	}

</script>
