<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>  

<button onclick="write">click</button>



<script type="text/javascript"> 
	function onclick(){
		console.log(app.locals.user.manager);
	}
</script>