body {background-color: black}

h1 {
    color: gold;
    font-family: Georgia, serif;
}

h2 {
    color: gray;
    font-family: Georgia, sans-serif;
}

p {
    color: white;
    font-family: verdana;
}

.header a#homelogo {
	left:0;
	position:absolute;
	top:1;
}

.log {
    float: right;
    top: 0;
}

.header li {
    color: gray;
    display: inline-block;
    vertical-align: middle;
    padding: inherit;
}

.body .home div.featured img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}